<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Version>0.2.0</Version>
    <AddDefaultEffectsToClips>true</AddDefaultEffectsToClips>
    <AntialiasSubtitles>true</AntialiasSubtitles>
    <AudioInput>AIR 192 6 Pro</AudioInput>
    <AudioOutput>filter-chain-2231-27</AudioOutput>
    <AudioOutputChannelLayout>3</AudioOutputChannelLayout>
    <AudioOutputSampleFormat>s16</AudioOutputSampleFormat>
    <AudioOutputSampleRate>44100</AudioOutputSampleRate>
    <AudioRecordingBitRate>320</AudioRecordingBitRate>
    <AudioRecordingChannelLayout>3</AudioRecordingChannelLayout>
    <AudioRecordingCodec>13</AudioRecordingCodec>
    <AudioRecordingFormat>7</AudioRecordingFormat>
    <AudioRecordingSampleFormat>s16</AudioRecordingSampleFormat>
    <AudioRecordingSampleRate>48000</AudioRecordingSampleRate>
    <AudioScrubbing>true</AudioScrubbing>
    <AutoCacheDelay>1000</AutoCacheDelay>
    <AutoMergeTracks>true</AutoMergeTracks>
    <AutoSeekToBeginning>true</AutoSeekToBeginning>
    <AutoSelectDivider>true</AutoSelectDivider>
    <AutorecoveryEnabled>true</AutorecoveryEnabled>
    <AutorecoveryInterval>1</AutorecoveryInterval>
    <AutorecoveryMaximum>20</AutorecoveryMaximum>
    <AutoscaleByDefault>false</AutoscaleByDefault>
    <Autoscroll>1</Autoscroll>
    <CatColor0>0</CatColor0>
    <CatColor1>1</CatColor1>
    <CatColor10>10</CatColor10>
    <CatColor11>11</CatColor11>
    <CatColor2>2</CatColor2>
    <CatColor3>3</CatColor3>
    <CatColor4>4</CatColor4>
    <CatColor5>5</CatColor5>
    <CatColor6>6</CatColor6>
    <CatColor7>7</CatColor7>
    <CatColor8>8</CatColor8>
    <CatColor9>9</CatColor9>
    <DefaultAudioTransition>org.olivevideoeditor.Olive.crossdissolve</DefaultAudioTransition>
    <DefaultSequenceAudioFrequency>48000</DefaultSequenceAudioFrequency>
    <DefaultSequenceAudioLayout>3</DefaultSequenceAudioLayout>
    <DefaultSequenceAutoCache2>false</DefaultSequenceAutoCache2>
    <DefaultSequenceFrameRate>1001/30000</DefaultSequenceFrameRate>
    <DefaultSequenceHeight>1080</DefaultSequenceHeight>
    <DefaultSequenceInterlacing>0</DefaultSequenceInterlacing>
    <DefaultSequencePixelAspect>1/1</DefaultSequencePixelAspect>
    <DefaultSequenceWidth>1920</DefaultSequenceWidth>
    <DefaultStillLength>2/1</DefaultStillLength>
    <DefaultSubtitleFamily></DefaultSubtitleFamily>
    <DefaultSubtitleSize>48</DefaultSubtitleSize>
    <DefaultSubtitleWeight>75</DefaultSubtitleWeight>
    <DefaultTransitionLength>1/1</DefaultTransitionLength>
    <DefaultVideoTransition>org.olivevideoeditor.Olive.crossdissolve</DefaultVideoTransition>
    <DiskCacheAhead>60/1</DiskCacheAhead>
    <DiskCacheBehind>0/1</DiskCacheBehind>
    <DiskCacheSaveInterval>10000</DiskCacheSaveInterval>
    <DropFileOnMediaToReplace>false</DropFileOnMediaToReplace>
    <DropWithoutSequenceBehavior>0</DropWithoutSequenceBehavior>
    <EditToolAlsoSeeks>false</EditToolAlsoSeeks>
    <EditToolSelectsLinks>false</EditToolSelectsLinks>
    <EnableDragFilesToTimeline>true</EnableDragFilesToTimeline>
    <EnableSeekToImport>false</EnableSeekToImport>
    <HoverFocus>false</HoverFocus>
    <InvertTimelineScrollAxes>true</InvertTimelineScrollAxes>
    <Language>en_US</Language>
    <Loop>false</Loop>
    <MarkerColor>6</MarkerColor>
    <OfflinePixelFormat>2</OfflinePixelFormat>
    <OnlinePixelFormat>3</OnlinePixelFormat>
    <PasteSeeks>true</PasteSeeks>
    <PreviewNonFloatDontAskAgain>false</PreviewNonFloatDontAskAgain>
    <ReassocLinToNonLin>false</ReassocLinToNonLin>
    <RectifiedWaveforms>true</RectifiedWaveforms>
    <ScrollZooms>false</ScrollZooms>
    <SeekAlsoSelects>false</SeekAlsoSelects>
    <SelectAlsoSeeks>false</SelectAlsoSeeks>
    <SetNameWithMarker>false</SetNameWithMarker>
    <ShowClipWhileDragging>true</ShowClipWhileDragging>
    <ShowWelcomeDialog>false</ShowWelcomeDialog>
    <SplitClipsCopyNodes>true</SplitClipsCopyNodes>
    <StopPlaybackOnLastFrame>false</StopPlaybackOnLastFrame>
    <Style>olive-dark</Style>
    <TimecodeDisplay>0</TimecodeDisplay>
    <TimelineThumbnailMode>1</TimelineThumbnailMode>
    <TimelineWaveformMode>1</TimelineWaveformMode>
    <UseGLFinish>false</UseGLFinish>
    <UseGradients>true</UseGradients>
    <UseLegacyColorInInputTab>false</UseLegacyColorInInputTab>
    <UseSliderLadders>true</UseSliderLadders>
</Configuration>
